.local-slow-queries {
    .lsq-sql-preview {
        max-width: 720px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: bottom;
    }
    .generaltable tbody tr {
        cursor: pointer;
    }
    .generaltable tbody tr:hover {
        background: rgba(0, 0, 0, .02);
    }
    pre.lsq-pre {
        max-height: 420px;
    }
    textarea.lsq-pre {
        height: 350px;
        white-space: nowrap;
    }
    .lsq-pre {
        width: 100%;
        background: #fbfbfc;
        border: 1px solid rgba(0, 0, 0, .06);
        border-radius: 12px;
        padding: 0.9rem;
        margin: 0;
        overflow: auto;
        font-size: 0.9rem;
        line-height: 1.35rem;
    }
    .lsq-badge {
        border-radius: 999px;
        padding: 0.25rem 0.55rem;
        font-weight: 600;
        font-size: 0.75rem;
        border: 1px solid rgba(0, 0, 0, .08);
    }
    .text-nowrap-width {
        display: block;
        max-width: 400px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /* Timeline */
    .lsq-axis {
        display: flex;
        gap: 0.75rem;
        justify-content: space-between;
        width: 100%;
    }
    .lsq-day-label {
        width: 110px;
        flex: 0 0 110px;
    }
    .lsq-timeline-grid {
        position: relative;
        height: 30px;
        border-radius: 12px;
        background-color: #fbfbfc;
        border: 1px solid rgba(0, 0, 0, .06);
        overflow: hidden;
        background-image: linear-gradient(to right, rgba(0, 0, 0, .06) 1px, transparent 1px);
        background-size: calc(100% / 24) 100%;
        background-repeat: repeat;
        .lsq-timeline-seg {
            position: absolute;
            top: 3px;
            height: 22px;
            border-radius: 999px;
            text-decoration: none;
            background: rgba(13, 110, 253, .45);
            // border: 1px solid #0b0b0b;
            min-width: 5px;
            &:hover {
                background: rgba(13, 110, 253, .6);
            }
        }
    }
}
